{% extends 'skin.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>Default Characters</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span id='default-people' class="pull-left create">Create</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>Default Opinions</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span id='default-opinions' class="pull-left create">create</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>Default Relations</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span id='default-relations' class="pull-left create">create</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>Random Interaction</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span id='random-interaction' class="pull-left create">create</span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<script>

	$('.create').click(function(){

		url = String($(this).attr('id'))
		$.ajax({
			//make url dynamic for future
			url: '/character/'+String(url)+'/',
			async: false,
			success: function(data){
				console.log(data)
			}
		})

	})

</script>

{% endblock %}