{% extends 'skin.html' %}

{% block content %}

<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
		  <div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-comments fa-5x"></i>
					</div>
				<div class="col-xs-9 text-right">
					<div>Default Characters</div>
				</div>
			</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span id='default-people' class="pull-left create">Create</span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div>Default Opinions</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span id='default-opinions' class="pull-left create">create</span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-shopping-cart fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div>Default Relations</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span id='default-relations' class="pull-left create">create</span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-support fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div>Random Interaction</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span id='random-interaction' class="pull-left create">create</span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class='row'>
	{% for character, opinions in characters %}
		<div class='col-lg-6'>
			<div class='panel panel-primary'>
				<div class='panel-heading'>
					<h3>{{ character.first_name }} {{ character.last_name }}</h3>
					<p class='pull-left'>Threshhold: {{ character.tolerance_threshhold }}<p/>
					<p class='pull-right'>Lee-way: {{ character.lee_way }}</p>
					<div class="clearfix"></div>
				</div>
				<div class='panel-body'>
					<div class='row'>
					{% if character.family.all %}
						<div class='col-lg-4'>
							<h4>Family:</h4>
							{% for family in character.family.all %}
								<ul>
									<li>{{ family.first_name }} {{ family.last_name }}</li>
								</ul>
							{% endfor %}
						</div>
					{% endif %}
					{% if character.allies.all %}
						<div class='col-lg-4'>
							<h4>Allies:</h4>
							{% for ally in character.allies.all %}
								<ul>
									<li>{{ ally.first_name }} {{ ally.last_name }}</li>
								</ul>
							{% endfor %}
						</div>
					{% endif %}
					{% if character.enemies.all %}
						<div class='col-lg-4'>
							<h4>Enemies:</h4>
							{% for enemy in character.enemies.all %}
								<ul>
									<li>{{ enemy.first_name }} {{ enemy.last_name }}</li>
								</ul>
							{% endfor %}
						</div>
					{% endif %}
					</div>
					<div class='row'>
					{% for opinion, relationships in opinions %}
						<div class='col-lg-6'>
							<div class='panel panel-red'>
								<div class='panel-heading'>
									<h4><b>{{ opinion.care }}:</b><h4>
										<p>(Likes: {{ opinion.likes }}, Dislikes: {{ opinion.dislikes }})</p>
									<div class='col-lg-12' style='padding: 0px'>
										<p class='pull-left'>Tolerance: {{ opinion.tolerance }}</p>
										<p class='pull-right'>Enjoyment: {{ opinion.enjoyment }}</p>
									</div>
									<p class='pull-left'>Ramp: {{ opinion.ramp }}<p/>
									<div class="clearfix"></div>
								</div>
								<div class='panel-body'>
									{% for relationship in relationships %}
										<div class='list-group'>
											<div class='list-group-item'>
													<h5><b>{{ relationship.aquaintance }}</b></h5>
													<p>Impact: {{ relationship.impact }}</p>
													<p>Ticks: {{ relationship.ticks }}</p>
													<p>Aggravation: {{ relationship.aggravation }}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script>

	$('.create').click(function(){

		url = String($(this).attr('id'))
		$.ajax({
			//make url dynamic for future
			url: '/character/'+String(url)+'/',
			async: false,
			success: function(data){
				console.log(data);
				location.reload();
			}
		})

	})

</script>

{% endblock %}